<nav class="flex justify-between p-4 bg-purple-600 text-white">
  <div>
    <a routerLink="/">Book Shop</a>
  </div>
  <div>
    <h2 class="text-center">Programming Book </h2>

  </div>
  <div>
    <a class="mx-4" routerLink="/cart">My Cart</a>
    <ng-container *ngIf="isAuthenticated()">
      <button (click)="logout()" class="mx-4">Logout</button>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated()">
    <a class="mx-4" routerLink="/login">Login</a>
    <a class="mx-4" routerLink="/register">Register</a>
     </ng-container>

    
  </div>
  
</nav>
<div class="p-4 bg-yellow-200">
  <router-outlet></router-outlet>
</div>
<footer class="flex justify-center p-4 bg-purple-600 text-white">
  <p>© 2022 Shopping App</p>

  </footer>